{% extends "users/base.html" %}

{% block content %}
<h1>Управление общим оборотом</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Общие часы прошлого периода</th>
            <th>Общий остаток прошлого периода</th>
            <th>Общие часы текущего периода</th>
            <th>Общая оплата текущего периода</th>
            <th>Общие общие часы</th>
            <th>Общая прибыль</th>
            <th>Общий бюджет школы</th>
            <th>Бюджет Елены</th>
            <th>Бюджет Марии</th>
            <th>Общая прибыль за месяц</th>
            <th>Общий бюджет на месяц</th>
            <th>Зарплата Елены</th>
            <th>Зарплата Марии</th>
            <th>Общая стоимость часа</th>
            <th>Проведено часов</th>
            <th>Общая потраченная сумма</th>
            <th>Общий остаток часов</th>
        </tr>
    </thead>
    <tbody>
        {% for total_turnover in total_turnovers %}
        <tr>
            <td>{{ total_turnover.total_previous_hours }}</td>
            <td>{{ total_turnover.total_previous_balance }}</td>
            <td>{{ total_turnover.total_current_hours }}</td>
            <td>{{ total_turnover.total_current_payment }}</td>
            <td>{{ total_turnover.total_total_hours }}</td>
            <td>{{ total_turnover.total_profit }}</td>
            <td>{{ total_turnover.total_school_budget }}</td>
            <td>{{ total_turnover.total_budget_elena }}</td>
            <td>{{ total_turnover.total_budget_maria }}</td>
            <td>{{ total_turnover.total_monthly_profit }}</td>
            <td>{{ total_turnover.total_monthly_budget }}</td>
            <td>{{ total_turnover.total_salary_elena }}</td>
            <td>{{ total_turnover.total_salary_maria }}</td>
            <td>{{ total_turnover.total_hourly_rate }}</td>
            <td>{{ total_turnover.total_hours_spent }}</td>
            <td>{{ total_turnover.total_money_spent }}</td>
            <td>{{ total_turnover.total_remaining_hours }}</td>

        </tr>
        {% empty %}
        <tr>
            <td colspan="17">Нет данных для отображения</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
