{% extends "users/base.html" %}

{% block content %}
<h1>Управление расчетами преподавателей</h1>
<div class="mb-3">
    <a href="{% url 'turnover:add_teacher_calculation' %}" class="btn btn-primary btn-sm">Добавить запись</a>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Ученик - Преподаватель</th>
            <th>Стоимость часа</th>
            <th>Проведено часов</th>
            <th>Зарплата преподавателя</th>
            <th>Бюджет преподавателя</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for teacher_calculation in teacher_calculations %}
        <tr>
            <td>{{ teacher_calculation.turnover }}</td>
            <td>{{ teacher_calculation.hourly_rate }}</td>
            <td>{{ teacher_calculation.hours_spent }}</td>
            <td>{{ teacher_calculation.salary_teacher }}</td>
            <td>{{ teacher_calculation.budget_teacher }}</td>
            <td>
                <a href="{% url 'turnover:edit_teacher_calculation' teacher_calculation.pk %}" class="btn btn-warning btn-sm">Редактировать</a>
                <form action="{% url 'turnover:delete_teacher_calculation' pk=teacher_calculation.pk %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" onclick="return confirm('Are you sure you want to delete this contact?');" class="btn btn-danger btn-sm">Удалить</button>
                </form>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">Нет данных для отображения</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h2>Суммы</h2>
<table class="table table-bordered table-striped">
    <tr>
        <th>Общая стоимость часа</th>
        <th>Общая зарплата преподавателя</th>
    </tr>
    <tr>
        <td>{{ total.total_hourly_rate }}</td>
        <td>{{ total.total_salary_teacher }}</td>
    </tr>
</table>
{% endblock %}
