{% extends "users/base.html" %}

{% block content %}

{% if messages %}
<div>
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<h1>Оборот-Доход-Расход</h1>
<div class="mb-3">
    <a href="{% url 'turnover:add_turnover' %}" class="btn btn-primary btn-sm">Добавить запись</a>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Имя ученика</th>
            <th>Имя преподавателя</th>
            <th>Часы с прошлого периода</th>
            <th>Остаток денег с прошлого периода</th>
            <th>Часы в этом периоде</th>
            <th>Оплата в этом периоде</th>
            <th>Общее количество часов</th>
            <th>Прибыль (сумма грн)</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for turnover in turnovers %}
        <tr>
            <td>{{ turnover.student.name }}</td>
            <td>{{ turnover.teacher.name }}</td>
            <td>{{ turnover.previous_hours }}</td>
            <td>{{ turnover.previous_balance }}</td>
            <td>{{ turnover.current_hours }}</td>
            <td>{{ turnover.current_payment }}</td>
            <td>{{ turnover.total_hours }}</td>
            <td>{{ turnover.profit }}</td>
            <td>
                <a href="{% url 'turnover:edit_turnover' pk=turnover.pk %}" class="btn btn-warning btn-sm">Редактировать</a>
                <form action="{% url 'turnover:delete_turnover' pk=turnover.pk %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" onclick="return confirm('Are you sure you want to delete this contact?');" class="btn btn-danger btn-sm">Удалить</button>
                </form>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="9">Нет данных для отображения</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h2>Суммы</h2>
<table class="table table-bordered table-striped">
    <tr>
        <th>Общее количество часов</th>
        <th>Общий остаток денег с прошлого периода</th>
        <th>Общее количество часов в этом периоде</th>
        <th>Общая оплата в этом периоде</th>
        <th>Общая прибыль</th>
    </tr>
    <tr>
        <td>{{ total.total_previous_hours }}</td>
        <td>{{ total.total_previous_balance }}</td>
        <td>{{ total.total_current_hours }}</td>
        <td>{{ total.total_current_payment }}</td>
        <td>{{ total.total_profit }}</td>
    </tr>
</table>
{% endblock %}
