<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Manage</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
</head>
<body>
<main class="container">
    <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
        <ul>
            <li><a href="/" role="button"> Go back to the main page</a></li>
            {% if 'turnover' in request.path %}
                <li><a href="{% url 'turnover:manage_turnover' %}" role="button">Manage Turnover</a></li>
                <li><a href="{% url 'turnover:manage_school' %}" role="button">Manage School</a></li>
                <li><a href="{% url 'turnover:manage_salary' %}" role="button">Manage Salary</a></li>
                <li><a href="{% url 'turnover:manage_client' %}" role="button">Manage Clients</a></li>
                <li><a href="{% url 'turnover:manage_teacher_calculation' %}" role="button">Manage Teacher Calculations</a></li>
                <li><a href="{% url 'turnover:manage_total_turnover' %}" role="button">Manage Total Turnover</a></li>
                <li><a href="{% url 'turnover:student_list' %}" role="button">Student list</a></li>
                <li><a href="{% url 'turnover:teacher_list' %}" role="button">Teacher List</a></li>
                <li><a href="{% url 'turnover:manage_schedule' %}" role="button">Manage Schedule</a></li>

            {% endif %}
        </ul>
    </nav>

    {% block content %} {% endblock %}
</main>
</body>
</html>
