{% extends "users/base.html" %}

{% block content %}
<h1>My Schedule</h1>
<table>
    <thead>
    <tr>
        <th>Student</th>
        <th>Date</th>
        <th>Time</th>
        <th>Duration</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for lesson in lessons %}
    <tr>
        <td>{{ lesson.student.name }}</td>
        <td>{{ lesson.date }}</td>
        <td>{{ lesson.start_time }}</td>
        <td>{{ lesson.duration }}</td>
        <td>
            {% if not lesson.conducted %}
            <form method="post" action="{% url 'schedule:mark_lesson_conducted' lesson.id %}">
                {% csrf_token %}
                <button type="submit">Mark as Conducted</button>
            </form>
            <form action="{% url 'schedule:edit_lesson' lesson.id %}" method="get" style="display:inline;">
                <button type="submit">Edit</button>
            </form>
            {% else %}
            Conducted
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
